*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Login{
   
    width: 100%;
    height: 100vh;
   display: flex;
   justify-content: center;
   background-color:#010d18;
   
}
.page{
    display: flex;
   justify-content: center;
  
}

.Login .log-page{
    height:642px ;
    width: 400px;
  

   
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
   
}
    

.Login .log-page img{
    height: 30px;
    width:150px ;
    margin-top: 20px;
}

.Login .log-page .inner-page{
    /* height:300px ;
    width: 360px; */
    padding: 50px 0px;
   
    display: flex;
   
    border-left: 1px solid #00c2ff;
    border-top: 1px solid #00c2ff;
    justify-content: center;
    gap: 30px;
    background-image: url(https://bitgettraders.com/assets/img/bg/contact_bg.png);
    border-radius: 10px;
    margin-top: 20px;
}
.inner{
    display: flex;
    flex-direction: column;
    
}
.cont{
  margin: 0px;
}
.content h1{
    padding: 4px 90px;
    font-size: 40px;
    color: #ff0000;
}
.content p{
    padding: 20px 20px;
    color: #f1fAff;
    
}
.content h2{
    padding: 20px 80px;
    font-weight: 400;
    font-size: larger;
    color: #00c4f4;
}


.log-in{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */ 
}

.log-in .log{
    
   padding: 10px ;
    background-color: #00c2ff;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
    color: #f1fAff;
    border: none;
}
.log-in .log:hover{
    cursor: pointer;
    background-color: #51c6ea;
}
